<launch>

    <arg name="map_path" default="$(find amsl_navigation_managers)/sample/map/sample_map.yaml"/>
    <arg name="checkpoint_path" default="$(find amsl_navigation_managers)/sample/checkpoint/sample_checkpoint.yaml"/>
    <arg name="task_list_path" default="$(find amsl_navigation_managers)/sample/task/sample_task.yaml"/>

    <node pkg="amsl_navigation_managers" type="node_edge_map_manager.py" name="node_edge_map_manager" ns="navigation_managers">
        <param name="MAP_PATH" value="$(arg map_path)"/>
    </node>

    <node pkg="amsl_navigation_managers" type="checkpoint_manager.py" name="checkpoint_manager" ns="navigation_managers">
        <param name="CHECKPOINT_PATH" value="$(arg checkpoint_path)"/>
    </node>

    <node pkg="amsl_navigation_managers" type="task_manager.py" name="task_manager" ns="navigation_managers">
        <param name="TASK_LIST_PATH" value="$(arg task_list_path)"/>
    </node>

</launch>
