<launch>

    <arg name="map_path" default="$(find amsl_navigation_managers)/sample/map/sample_map.yaml"/>
    <arg name="checkpoint_path" default="$(find amsl_navigation_managers)/sample/checkpoint/sample_checkpoint.yaml"/>

    <node pkg="amsl_navigation_managers" type="node_edge_map_manager.py" name="node_edge_map_manager">
        <param name="MAP_PATH" value="$(arg map_path)"/>
    </node>

    <node pkg="amsl_navigation_managers" type="checkpoint_manager.py" name="checkpoint_manager">
        <param name="CHECKPOINT_PATH" value="$(arg checkpoint_path)"/>
    </node>

</launch>
