<?xml version="1.0"?>
<launch>
    <!-- rwrc21-->
    <!-- dkan kakunin -->
    <arg name="map_path" default="$(find amsl_navigation_managers)/sample/map/rwrc21_d_kan_map.yaml"/>
    <arg name="checkpoint_path" default="$(find amsl_navigation_managers)/sample/checkpoint/rwrc21_d_kan_checkpoint.yaml"/>
    <arg name="task_list_path" default="$(find amsl_navigation_managers)/sample/task/rwrc21_d_kan_task.yaml"/>

    <arg name="enable_task" default="true"/>
    <arg name="hz" default="10"/>

    <!-- node -->
    <node pkg="amsl_navigation_managers" type="rwrc21_node_edge_map_manager.py" name="rwrc21_node_edge_map_manager" ns="navigation_managers" output="screen">
        <param name="MAP_PATH" value="$(arg map_path)"/>
        <param name="HZ" value="$(arg hz)"/>
    </node>

    <node pkg="amsl_navigation_managers" type="rwrc21_checkpoint_manager.py" name="rwrc21_checkpoint_manager" ns="navigation_managers" output="screen">
        <param name="CHECKPOINT_PATH" value="$(arg checkpoint_path)"/>
        <param name="HZ" value="$(arg hz)"/>
    </node>

    <node pkg="amsl_navigation_managers" type="rwrc21_task_manager.py" name="rwrc21_task_manager" ns="navigation_managers" output="screen" if="$(arg enable_task)">
        <param name="TASK_LIST_PATH" value="$(arg task_list_path)"/>
    </node>
  
    <!-- <node pkg="amsl_navigation_managers" type="rwrc21_map_manager.py" name="rwrc21_map_manager" ns="navigation_managers" output="screen" if="$(arg enable_task)">
        <param name="TASK_LIST_PATH" value="$(arg task_list_path)"/>
    </node> -->
   
    <node pkg="rviz" type="rviz" name="rviz30" args="-d $(find amsl_navigation_managers)/config/node_edge_map.rviz"/>
</launch>
